MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/tripmind-ai
BETTER_AUTH_SECRET=your_32_character_hex_secret
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000
OPENAI_API_KEY=sk-your-openai-api-key-here
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
